/* General */
/* html {
  height: 100%;
}

body {
  height: 100%;
  background-repeat: no-repeat;
  background-image: linear-gradient(0deg, rgb(2, 164, 224) 0%, rgb(0, 212, 255) 76%);
} */

/* Header */
#root {
  /* background-image: linear-gradient(to right, #243949 0%, #517fa4 100%); */
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  min-height: 100vh;
  padding-bottom: 30px;
}
.header {
  margin-bottom: 1.5em;
}

.header .container {
  display: flex;
}
.login-btn,
.logout-btn {
  margin-left: auto;
}

/* Registration & Login Page */

/* Main Page General */
.main-page {
  padding-top: 1em;
}

/* Main page search */
.main-search {
  margin-bottom: 1.5em;
}
.main-search .btn {
  margin-top: 0.5em;
}

/* Forecast Card */
.forecast-container {
  display: flex;
  flex-wrap: wrap;
}

.forecast-card-container {
  /* padding-right: 1em; */
}

.forecast-card {
  margin-top: 1em;
  display: flex;
}

.forecast-card {
  border-style: solid;
  border-radius: 0.65em;
  border-width: thin;
  padding: 0.65em;
  border-color: #c5c5c5;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.07);
}

.temperature-and-graphic-card {
  display: flex;
  min-height: 8em;
  border-radius: 0.65em;
}

.temperature-and-graphic-card .temperature {
  margin: auto;
  position: absolute;
}

.temperature h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin: auto;
}

.detailed-weather-info {
  /* padding: 0.5em; */
}

.video {
  max-width: 26em;
  border-radius: 1em;
}
/*DailyCard and HourlyCard Lists*/
.hr-icon {
  width: 4rem;
  height: auto;
}
.hr-icon-name {
  font-size: 0.8em;
  font-weight: bold;
}
.nav-active {
  border-bottom: #1c1c1c;
  border-bottom-style: solid;
  border-width: medium;
}
.nav-active button div {
  font-weight: 800;
}
.current-container {
  max-width: 34rem;
}
.mn-icon-name {
  font-size: 1em;
  font-weight: bold;
}
.current-city::first-letter {
  text-transform: capitalize;
}
.long-title-current {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media all and (min-width: 768px) and (max-width: 1024px) {
  .video {
    max-width: 16em;
  }
  .temperature h1 {
    font-size: 2.2em;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .video {
    max-width: 16rem;
  }
  .mn-icon-name {
    font-size: 0.8em;
  }
  .hr-icon-name {
    font-size: 0.7em;
  }
  .nav-header-text {
    font-size: 1em;
  }
  .temperature h1 {
    font-size: 2em;
  }
}

@media all and (max-width: 480px) {
  .video {
    max-width: 16rem;
  }
  .mn-icon-name {
    font-size: 0.8em;
  }
  .hr-icon-name {
    font-size: 0.7em;
  }
  .nav-header-text {
    font-size: 0.8em;
  }
  .temperature h1 {
    font-size: 1.8em;
  }
}
@media (max-width: 350px) {
  .video {
    max-width: 10em;
  }
}
